#clientes { 
  transform: translateX(-500px);
  opacity: 0;
}

.container-clientes {
  text-align: center;
}

.container-clientes img {
  margin: 0 auto;
  padding: 8px;
  max-width: 80%;
  height: auto;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 600px;
  margin: 0 auto;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Slide styles */
.slide {
  position: absolute;
  transition: all 500ms ease-in-out;
}

.slide img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

/* Navigation buttons */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.308);
  padding: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-button svg {
  width: 24px;
  height: 24px;
  color: white;
}

.nav-button svg:hover{
  color: black;
}

.prev-button {
  left: 40px;
}

.next-button {
  right: 40px;
}

@media (max-width: 768px) {
  #clientes { 
    transform: translateX(-200px);
  }
  .container-clientes img {
    max-width: 100%;
   }

   .prev-button {
    left: 5px;
  }
  
  .next-button {
    right: 5px;
  }
}